<div class="form-container">
  <mat-card-header class="card-header">
    <mat-card-title>Enter Project Information</mat-card-title>
  </mat-card-header>

  <!-- Loader -->
  <div class="table-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <form [formGroup]="dynamicForm" novalidate (submit)="submitForm()">
    <ng-template ngFor let-input [ngForOf]="formData">
      <ng-container [ngSwitch]="input.controlType">
        <ng-template [ngSwitchCase]="'text'">
          <mat-form-field
            class="form-field"
            appearance="outline"
            color="primary"
          >
            <mat-label> {{ input.label }} </mat-label>
            <input
              matInput
              [formControlName]="input.controlName"
              [type]="input.valueType"
              [name]="input.controlName"
              [required]="input.validators.required"
            />
            <mat-error
              *ngIf="
                dynamicForm.get(input.controlName).invalid &&
                (dynamicForm.get(input.controlName).dirty ||
                  dynamicForm.get(input.controlName).touched)
              "
            >
              <span *ngIf="dynamicForm.get(input.controlName).errors.required"
                >This field is mandatory.</span
              >
            </mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </ng-template>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- <mat-form-field class="form-field" appearance="outline" color="primary">
          <mat-label> Name </mat-label>
          <input matInput formControlName="name" required />
          <mat-error
            *ngIf="
              dynamicForm.controls.name.touched &&
              dynamicForm.controls.name.invalid
            "
          >
            <span *ngIf="dynamicForm.controls.name.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline" color="primary">
          <mat-label> Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error
            *ngIf="
              dynamicForm.controls.email.touched &&
              dynamicForm.controls.email.invalid
            "
          >
            <span *ngIf="dynamicForm.controls.email.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password </mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePwd ? 'password' : 'text'"
          />
          <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{
            hidePwd ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              dynamicForm.controls.password.touched &&
              dynamicForm.controls.password.invalid
            "
          >
            <span *ngIf="dynamicForm.controls.password.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="department_id" required>
            <mat-option *ngFor="let dept of department" [value]="dept.id">
              {{ dept.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              dynamicForm.controls.department_id.touched &&
              dynamicForm.controls.department_id.invalid
            "
          >
            <span *ngIf="dynamicForm.controls.department_id.errors.required"
              >This field is mandatory.</span
            >
          </mat-error>
        </mat-form-field> -->

<!-- <ng-template ngFor let-input [ngForOf]="formData">
          <ng-container [ngSwitch]="input.controlType">
             handling text type inputs 
            <ng-template [ngSwitchCase]="'text'">
              <mat-form-field
                class="form-field"
                appearance="outline"
                color="primary"
              >
                <mat-label> {{ input.controlName }} </mat-label>
                <input
                  matInput
                  [formControlName]="input.controlName"
                  [type]="input.valueType"
                  [name]="input.controlName"
                  [required]="input.validators.required"
                  [minlength]="input.validators.minlength"
                  [maxlength]="input.validators.maxlength"
                />
                <mat-error
                  *ngIf="
                    dynamicForm.get(input.controlName).invalid &&
                    (dynamicForm.get(input.controlName).dirty ||
                      dynamicForm.get(input.controlName).touched)
                  "
                >
                  <span
                    *ngIf="dynamicForm.get(input.controlName).errors.required"
                    >This field is mandatory.</span
                  >
                </mat-error>
              </mat-form-field>
            </ng-template>

             handling select & radio type inputs -->

<!-- <ng-template [ngSwitchCase]="'select'">
              <div class="form-group">
                <label [for]="input.controlName">
                  {{ input.controlName }}</label
                >
                <select
                  [formControlName]="input.controlName"
                  [name]="input.controlName"
                  [id]="input.controlName"
                  [required]="input.validators.required"
                >
                  <option value="">{{ input.placeholder }}</option>
                  <option
                    *ngFor="let option of input.options"
                    [value]="option.value"
                  >
                    {{ option.optionName }}
                  </option>
                </select>
              </div>
            </ng-template>

            <ng-template [ngSwitchCase]="'radio'">
              <div *ngFor="let option of input.options" class="form-group row">
                <input
                  [formControlName]="input.controlName"
                  [type]="input.controlType"
                  [name]="input.controlName"
                  [value]="option.value"
                  [required]="input.validators.required"
                />
                <label [for]="input.controlName">
                  {{ option.optionName }}</label
                >
              </div>
            </ng-template> 
          </ng-container>
        </ng-template> -->
