<div class="animated fadeIn table-container mat-elevation-z20">
  <mat-card>
    <mat-card-header>
      <i class="material-icons">supervised_user_circle</i>
      <mat-card-title>Project</mat-card-title>
      <mat-card-subtitle
        >Add, update or delete Project detail</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <!-- Table loading spinner -->
      <!-- <div class="table-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div> -->

      <!-- 
        Tree view
      -->

      <table class="mat-elevation-z8">
        <th>Department - Division</th>
        <tr>
          <td>
            <mat-tree
              [dataSource]="dataSource"
              [treeControl]="treeControl"
              class="project-tree"
            >
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{ node.name }}
                </li>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-nested-tree-node
                *matTreeNodeDef="let node; when: hasChild"
                (click)="showChildren(node)"
              >
                <li>
                  <div class="mat-tree-node">
                    <button
                      (click)="showChildren(node)"
                      mat-icon-button
                      matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name"
                    >
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{
                          treeControl.isExpanded(node)
                            ? "expand_more"
                            : "chevron_right"
                        }}
                      </mat-icon>
                    </button>
                    <div>{{ node.name }}</div>

                    <div
                      class="project-data-node"
                      *ngIf="
                        node.type === 'child' && treeControl.isExpanded(node)
                      "
                    >
                      <app-project-list
                        [divisionId]="node.id"
                      ></app-project-list>
                    </div>
                  </div>
                  <ul
                    [class.project-tree-invisible]="
                      !treeControl.isExpanded(node)
                    "
                  >
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
